    <section class="container col w-full">
      <section class="row m-auto bg-warning">

   <section id="images" class="col col-7 h-100 bg-warning">
  <div class="image-box">
    <img src="https://placehold.co/600x400" alt="Image Description">
  </div>
</section>

        <section class="col flex-column p-0">

          <section id="listing-address" class="flex-row px-2 pb-2 bg-warning">
              <div class="col text-center font-weight-bolder " id="street">{{forRentListing.streetNumber}} {{forRentListing.streetName}}</div>
              {{#if forRentListing.unitNumber}}
              <div id="unit" class="text-center font-italic text-muted">Unit Number</div>
              {{/if}}
              <div class="text-center">{{forRentListing.postalCode}}, {{forRentListing.city}}</div>
          </section>
          <section>
            <div id="price">Listing Price: {{forRentListing.price}}</div>
            <div id="bedrooms">Number of Bedrooms: {{forRentListing.bedrooms}}</div>
            <div id="bathrooms">Number of Bathrooms: {{forRentListing.bathrooms}}</div>
          </section>
          </section>
        </section>
    </section>