       <div class="mt-3 mt-md-5 mx-md-5">
  <h1 class="header-color">For Sale</h1>
</div>
    <section class="container ">
      <section class="row">

   <section class="images">
  <div class="image-box">
    <img src="/images/sample1.png" alt="Image Description">
  </div>
</section>

        <section class="text-area">

          <section id="listing-address" >
              <div class="text-center" id="street">{{forSaleListing.streetNumber}} {{forSaleListing.streetName}}</div>
              {{#if forSaleListing.unitNumber}}
              <div id="unit" class="text-center">Unit Number</div>
              {{/if}}
              <div class="text-center">{{forSaleListing.postalCode}}{{forSaleListing.city}}</div>
          </section>
          <section>
            <div id="price">Listing Price: {{forSaleListing.price}}</div>
            <div id="bedrooms">Number of Bedrooms: {{forSaleListing.bedrooms}}</div>
            <div id="bathrooms">Number of Bathrooms: {{forSaleListing.bathrooms}}</div>
          </section>
          </section>
        </section>
    </section>