<div class="row">
  {{#each sales}}
    <div class="col">
      <div class="p-3"><div class="card" style="width: 18rem;">
          <img
            src="/images/sample3.png"
            class="card-img-top"
            alt="sample-img"
          />
          <div class="card-body">
            <p class="card-text">
              <section id="listing-address">
                <div class="text-center" id="street">{{streetNumber}}
                  {{streetName}}</div>
                {{#if unitNumber}}
                  <div id="unit" class="text-center">Unit Number:
                    {{unitNumber}}</div>
                {{/if}}
                <div class="text-center">{{postalCode}} {{city}}</div>
              </section>
              <section>
                <div id="price">Listing Price: {{price}}</div>
                <div id="bedrooms">Number of Bedrooms: {{bedrooms}}</div>
                <div id="bathrooms">Number of Bathrooms: {{bathrooms}}</div>
              </section>
            </p>
            <a href="/salelisting" class="btn btn-primary">More Info</a>
          </div>
        </div></div>
    </div>
  {{/each}}
</div>